body {
    background-image: url(https://img.cinemablend.com/filter:scale/quill/1/f/1/a/3/f/1f1a3f00ab88c1f425ca27cf06933f74b83092fc.jpg?mw=600);
}
 
.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color:midnightblue;
    padding: 10px 50px 50px 50px;
    border: 5px solid indigo;
    border-radius: 15px;
}
 
.grid h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    color: gainsboro;
    padding: 2px 0px;
    border-radius: 15px;
}
 
#score {
    color: slateblue;
    text-align: center;
    font-size: 30px;
}
 
.grid #question {
    font-family: "monospace";
    font-size: 30px;
    text-align: center;
    color:gainsboro;
}
 
.buttons {
    margin-top: 30px;
}
 
#btn0, #btn1, #btn2, #btn3 {
    background-color: slateblue;
    width: 250px;
    font-size: 20px;
    color: gainsboro;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color:darkslateblue;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 
#progress {
    color:darkred;
    font-size: 18px;
}

#timer {
    text-align: right;
    color: red;
    font-size: 25px;
}